


<!DOCTYPE html>

<html  ng-app='angularRoutingApp' lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Carga de fuentes de Font  Awesome -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- Carga de estilos css personalizados -->
    <link rel="stylesheet" href="css/estilos.css">
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <script src="js/jquery-2.2.3.min.js"></script>
    @* <script src="js/jquery.min.js"></script> *@
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#buttonLibro2').click(function () {
                var nombre = $('#nombre').val();
                var apellido = $('#apellido').val();
                $.ajax({
                    type: 'GET',
                    url: '/demo/create2/' + nombre + '&' + apellido,
                    success: function (result) {
                        $('#resultlibro').html(result);
                    }
                });
            });

            $('#buttonLibro').click(function () {
                var name = $('#name').val();
                $.ajax({
                    type: 'GET',
                    url: '/demo/create/' + name,
                    success: function (result) {
                        $('#resultlibro').html(result);
                    }
                });
            });

            $('#buttonDemo1').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '/demo/demo1',
                    success: function (result) {
                        $('#result1').html(result);
                    }
                });
            });

            $('#buttonDemo2').click(function () {
                var fullName = $('#fullName').val();
                $.ajax({
                    type: 'GET',
                    url: '/demo/demo2/' + fullName,
                    success: function (result) {
                        $('#result2').html(result);
                    }
                });
            });

            $('#buttonDemo3').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '/demo/demo3',
                    success: function (result) {
                        var s = 'Id: ' + result.id;
                        s += '<br>Name: ' + result.name;
                        s += '<br>Price: ' + result.price;
                        $('#result3').html(s);
                    }
                });
            });

            /*$('#buttonDemo4').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '/demo/demo4',
                    success: function (result) {
                        var s = '';
                        for (var i = 0; i < result.length; i++) {
                            s += '<br>Id: ' + result[i].id;
                            s += '<br>Name: ' + result[i].name;
                            s += '<br>Price: ' + result[i].price;
                            s += '<br>------------------';
                        }
                        $('#result4').html(s);
                    }
                });
            }); 
            */
            $('#buttonDemo4').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '/demo/demo4',
                    success: function (result) {
                        var s = '';
                        for (var i = 0; i < result.length; i++) {
                            s += '<br>Id: ' + result[i].id;
                            s += '<br>Name: ' + result[i].name;
                            s += '<br>------------------';
                        }
                        $('#result4').html(s);
                    }
                });
            });
        });
    </script>
</head>
<body ng-controller='mainController'>
    <div class="card" style="width: 38rem;margin:auto;padding:1rem;text-align:center">
        <div class="card-body">
            <h5 class="card-title">Seleccione una opción</h5>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button 
                    class="btn btn-primary" 
                    type="button" 
                    data-toggle="collapse" 
                    data-target="#collapseImagen" 
                    aria-expanded="false" 
                    aria-controls="collapseImagen">
                    Mostrar imagenes
                </button>
                <button 
                    class="btn btn-primary" 
                    type="button" 
                    data-toggle="collapse" 
                    data-target="#collapseCrearLibro" 
                    aria-expanded="false" 
                    aria-controls="collapseCrearLibro">
                    Crear un libro
                </button>
                <button 
                    class="btn btn-primary" 
                    type="button" 
                    data-toggle="collapse" 
                    data-target="#collapseMostrarLibros" 
                    aria-expanded="false" 
                    aria-controls="collapseMostrarLibros">
                    Mostrar los libros
                </button>
            </div>
        </div>
    </div>
    <p>
        
    </p>
    <div class="collapse" id="collapseImagen">
        <div class="card card-body">
        
        
        <div class="card" style="width: 30rem;margin:auto;padding:1rem;">
            <div class="card-body">
                <h5 class="card-title">Ejemplo de envío de imagenes</h5>
                <fieldset>
                    <legend>Enviar imagen con AngularJS</legend>
                    
                        <input id="filename" name="filename" type="file"  />
                        <img src="" height="200" alt="Image preview...">
                        <div>
                        </div>
                        <button ng-click="enviarImagen()">
                            Enviar Imagen
                        </button>
                    
                    <div style="display:block;"><h2>Canvas</h2></div>
                    <canvas id="micanvas" width="150" height="150" style="display:block"></canvas>

                    <canvas id="mipintado" width="150" height="150" style="display:block; border:10px #ccc solid;"></canvas>
                    <img id="otraimg" src="" width="150" height="150" style="display:block; border:10px #ccc solid;" />
                </fieldset>
            </div>
        </div>
        
        
        </div>
    </div>
    <div class="collapse" id="collapseCrearLibro">
        <div class="card card-body">

            <div class="card" style="width: 18rem;margin:auto;padding:1rem;">
                <div class="card-body">
                    <h5 class="card-title">Crear libro</h5>
                    <fieldset>
                        Nombre <input class="form-control" type="text" id="nombre" /> <br />
                        Apellido <input class="form-control" type="text" id="apellido" />
                        <input type="button" value="Ingresar" id="buttonLibro2" />
                        <br />
                        <span id="resultlibro"></span>
                    </fieldset>
                </div>
            </div>


        </div>
    </div>
    <div class="collapse" id="collapseMostrarLibros">
        <div class="card card-body">
        
        <div class="card" style="width: 18rem;margin:auto;padding:1rem;">
        
            <div class="card-body">
                <h5 class="card-title">Mostrar libros</h5>
                <fieldset>
                    <button 
                        type="button" 
                        class="btn btn-info"
                        id="buttonDemo4">
                        Mostrar libros
                    </button>
                    <br />
                    <span id="result4"></span>
                </fieldset>
            </div>
        </div>

        </div>
    </div>
    

    @* <fieldset>
        <legend>Crear Libro</legend>
        Nombre <input type="text" id="name" />
        <legend>Usando jQuery</legend>
        <input type="button" value="Nombre 1" id="buttonLibro" />
        <br />
        <span id="resultlibro"></span>
    </fieldset> *@


    @* <fieldset>
        <legend>Demo 1</legend>
        <input type="button" value="Demo 1" id="buttonDemo1" />
        <br />
        <span id="result1"></span>
    </fieldset>

    <fieldset>
        <legend>Demo 2</legend>
        Full Name <input type="text" id="fullName" />
        <input type="button" value="Demo 2" id="buttonDemo2" />
        <br />
        <span id="result2"></span>
    </fieldset>

    <fieldset>
        <legend>Demo 3</legend>
        <input type="button" value="Demo 3" id="buttonDemo3" />
        <br />
        <span id="result3"></span>
    </fieldset> *@
    
    


    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.3/angular-route.js"></script>
    <script type="text/javascript">
        // Creación del módulo
        var angularRoutingApp = angular.module('angularRoutingApp', []);

        var urlServicio = "http://www.programandoconrupert.com/ws/servicio-gatos.php";

        var RegistroImagen = {};

        angularRoutingApp.controller("mainController", ["$scope", "$http", function ($scope, $http) {
            $scope.gatos = [];
            
        
            $scope.enviarImagen = function () {
                //console.log(RegistroImagen.data);
                var cadena = RegistroImagen.data;
                //data = JSON.stringify(data);

                var data = cadena.substring(27, cadena.length -1);   
                //console.log(cadena);
                console.log(cadena.substring(0, 27));
                console.log(cadena.substring(27, cadena.length -1));
                //$http({
                //    method: "GET",
                //    url: '/demo/guardarImagen?data=' + data
                    
                //}).then(function correcto(respuesta) {
                //    //resultlibro3.innerHTML = respuesta.data;
                //},
                //    function error(respuesta) {
                //        alert(respuesta.statusText);
                //    });

                $http({
                        url: "/api/Values",
                        type: "POST",
                        data: JSON.stringify(data),
                        dataType: "json",
                        contentType: "application/json",
                        success: function (result) {
                            //var json = JSON.stringify(result)
                            //alert(json);
                            
                            var mipintado = document.getElementById("mipintado");
                            var nuevaimg = new Image();
                            nuevaimg.src = result;//json.data;//reader.result;//micanvas.toDataURL();
                            var ctx2 = mipintado.getContext("2d");
                            ctx2.drawImage(nuevaimg, 0, 0, 150, 150);

                            var otraimg = document.getElementById("otraimg");
                            otraimg.src = result;//reader.result;
                            //var id2 = new ImageData(150, 150);//{};//ctx2.getImageData(0, 0, 150, 150);
                            
                        },
                        error: function (request, status, error) {
                            alert("Error: Could not delete" + error);
                        }
                    });

                    //$.ajax({
                    //    url: "GuardarImagen.ashx",
                    //    type: "POST",
                    //    data: JSON.stringify(this.RegistroImagen.data),//JSON.stringify(RegistroImagen),
                    //    dataType: "json",
                    //    contentType: "application/json",
                    //    success: function (result) {
                    //        //var json = JSON.stringify(result)
                    //        //alert(json);
                            
                    //        var mipintado = document.getElementById("mipintado");
                    //        var nuevaimg = new Image();
                    //        nuevaimg.src = result;//json.data;//reader.result;//micanvas.toDataURL();
                    //        var ctx2 = mipintado.getContext("2d");
                    //        ctx2.drawImage(nuevaimg, 0, 0, 150, 150);

                    //        var otraimg = document.getElementById("otraimg");
                    //        otraimg.src = result;//reader.result;
                    //        //var id2 = new ImageData(150, 150);//{};//ctx2.getImageData(0, 0, 150, 150);
                            
                    //    },
                    //    error: function (request, status, error) {
                    //        alert("Error: Could not delete" + error);
                    //    }
                    //});

            };
            
            $scope.obtenerGet = function ()
            {
                //alert('Funciona');
                var nombre = document.getElementById('nombre1').value;
                var apellido = document.getElementById('apellido1').value;
                $http({
                    method: "GET",
                    url: '/demo/create2/' + nombre + '&' + apellido
                    //url: '/demo/demo1'
                }).then(function correcto(respuesta) {
                    //$scope.gatos = respuesta.data;
                    var resultlibro3 = document.getElementById('resultlibro3');
                    resultlibro3.innerHTML = respuesta.data;
                },
                    function error(respuesta) {
                        alert(respuesta.statusText);
                    });
            };
        }]);

        function previewFile()
        {
            var preview = document.querySelector('img');
            var file = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
                var micanvas = document.getElementById("micanvas");
                var ctx = micanvas.getContext("2d");
                var miimagen = new Image();
                miimagen.src = reader.result;
                //console.log(reader.result);
                RegistroImagen.data = reader.result;
                miimagen.onload = function()
                {
                    /*
                     ImageData.data Read only
                    Is a Uint8ClampedArray representing a one-dimensional array containing the data in the RGBA order, with integer values between 0 and 255 (inclusive).
                    ImageData.height Read only
                    Is an unsigned long representing the actual height, in pixels, of the ImageData.
                    ImageData.width Read only
                    Is an unsigned long representing the actual width, in pixels, of the ImageData.
                     */
                    //console.log(miimagen.decode());
                    ctx.drawImage(miimagen, 0, 0, 150, 150);
                    var ImageData = ctx.getImageData(0, 0, 150, 150);
                    //console.log(ImageData.data);
                    //console.log(micanvas.toDataURL());

                    //const img = new Image();
                    //img.src = 'nebula.jpg';
                    //img.decode();

                    
                    


                }

            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
            }



        document.getElementById('filename').addEventListener('change', previewFile, false);
    </script>
    
</body>
</html>

