


<!DOCTYPE html>

<html  ng-app='angularRoutingApp'>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <script src="js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#buttonLibro2').click(function () {
                var nombre = $('#nombre').val();
                var apellido = $('#apellido').val();
                $.ajax({
                    type: 'GET',
                    url: '/demo/create2/' + nombre + '&' + apellido,
                    success: function (result) {
                        $('#resultlibro').html(result);
                    }
                });
            });

            $('#buttonLibro').click(function () {
                var name = $('#name').val();
                $.ajax({
                    type: 'GET',
                    url: '/demo/create/' + name,
                    success: function (result) {
                        $('#resultlibro').html(result);
                    }
                });
            });

            $('#buttonDemo1').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '/demo/demo1',
                    success: function (result) {
                        $('#result1').html(result);
                    }
                });
            });

            $('#buttonDemo2').click(function () {
                var fullName = $('#fullName').val();
                $.ajax({
                    type: 'GET',
                    url: '/demo/demo2/' + fullName,
                    success: function (result) {
                        $('#result2').html(result);
                    }
                });
            });

            $('#buttonDemo3').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '/demo/demo3',
                    success: function (result) {
                        var s = 'Id: ' + result.id;
                        s += '<br>Name: ' + result.name;
                        s += '<br>Price: ' + result.price;
                        $('#result3').html(s);
                    }
                });
            });

            $('#buttonDemo4').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '/demo/demo4',
                    success: function (result) {
                        var s = '';
                        for (var i = 0; i < result.length; i++) {
                            s += '<br>Id: ' + result[i].id;
                            s += '<br>Name: ' + result[i].name;
                            s += '<br>Price: ' + result[i].price;
                            s += '<br>------------------';
                        }
                        $('#result4').html(s);
                    }
                });
            });

        });
    </script>
</head>
<body ng-controller='mainController'>

    <fieldset>
        <legend>Crear Libro AngularJS</legend>
        Nombre <input type="text" id="nombre1" /> <br />
        Apellido <input type="text" id="apellido1" />
        <input type="button" value="Ingresar" id="buttonLibro3"  ng-click="obtenerGet()" />
        <br />
        <span id="resultlibro3"></span>
    </fieldset>

    <fieldset>
        <legend>Crear Libro</legend>
        Nombre <input type="text" id="nombre" /> <br />
        Apellido <input type="text" id="apellido" />
        <input type="button" value="Ingresar" id="buttonLibro2" />
        <br />
        <span id="resultlibro"></span>
    </fieldset>

    <fieldset>
        <legend>Crear Libro</legend>
        Nombre <input type="text" id="name" />
        <input type="button" value="Nombre 1" id="buttonLibro" />
        <br />
        <span id="resultlibro"></span>
    </fieldset>


    <fieldset>
        <legend>Demo 1</legend>
        <input type="button" value="Demo 1" id="buttonDemo1" />
        <br />
        <span id="result1"></span>
    </fieldset>

    <fieldset>
        <legend>Demo 2</legend>
        Full Name <input type="text" id="fullName" />
        <input type="button" value="Demo 2" id="buttonDemo2" />
        <br />
        <span id="result2"></span>
    </fieldset>

    <fieldset>
        <legend>Demo 3</legend>
        <input type="button" value="Demo 3" id="buttonDemo3" />
        <br />
        <span id="result3"></span>
    </fieldset>

    <fieldset>
        <legend>Demo 4</legend>
        <input type="button" value="Demo 4" id="buttonDemo4" />
        <br />
        <span id="result4"></span>
    </fieldset>


    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.3/angular-route.js"></script>
    <script type="text/javascript">
        // Creación del módulo
        var angularRoutingApp = angular.module('angularRoutingApp', []);

        var urlServicio = "http://www.programandoconrupert.com/ws/servicio-gatos.php";

        angularRoutingApp.controller("mainController", ["$scope", "$http", function ($scope, $http) {
            $scope.gatos = [];
            $scope.obtenerGet = function () {
                //alert('Funciona');
                var nombre = document.getElementById('nombre1').value;
                var apellido = document.getElementById('apellido1').value;
                $http({
                    method: "GET",
                    url: '/demo/create2/' + nombre + '&' + apellido
                    //url: '/demo/demo1'
                }).then(function correcto(respuesta) {
                    //$scope.gatos = respuesta.data;
                    var resultlibro3 = document.getElementById('resultlibro3');
                    resultlibro3.innerHTML = respuesta.data;
                },
                    function error(respuesta) {
                        alert(respuesta.statusText);
                    });
            };
        }]);

        
    </script>
</body>
</html>

