


<!DOCTYPE html>

<html  ng-app='angularRoutingApp'>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <script src="js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#buttonLibro2').click(function () {
                var nombre = $('#nombre').val();
                var apellido = $('#apellido').val();
                $.ajax({
                    type: 'GET',
                    url: '/demo/create2/' + nombre + '&' + apellido,
                    success: function (result) {
                        $('#resultlibro').html(result);
                    }
                });
            });

            $('#buttonLibro').click(function () {
                var name = $('#name').val();
                $.ajax({
                    type: 'GET',
                    url: '/demo/create/' + name,
                    success: function (result) {
                        $('#resultlibro').html(result);
                    }
                });
            });

            $('#buttonDemo1').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '/demo/demo1',
                    success: function (result) {
                        $('#result1').html(result);
                    }
                });
            });

            $('#buttonDemo2').click(function () {
                var fullName = $('#fullName').val();
                $.ajax({
                    type: 'GET',
                    url: '/demo/demo2/' + fullName,
                    success: function (result) {
                        $('#result2').html(result);
                    }
                });
            });

            $('#buttonDemo3').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '/demo/demo3',
                    success: function (result) {
                        var s = 'Id: ' + result.id;
                        s += '<br>Name: ' + result.name;
                        s += '<br>Price: ' + result.price;
                        $('#result3').html(s);
                    }
                });
            });

            $('#buttonDemo4').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '/demo/demo4',
                    success: function (result) {
                        var s = '';
                        for (var i = 0; i < result.length; i++) {
                            s += '<br>Id: ' + result[i].id;
                            s += '<br>Name: ' + result[i].name;
                            s += '<br>Price: ' + result[i].price;
                            s += '<br>------------------';
                        }
                        $('#result4').html(s);
                    }
                });
            });

        });
    </script>
</head>
<body ng-controller='mainController'>

    <fieldset>
        <legend>Enviar imagen con AngularJS</legend>
        
            <input id="filename" name="filename" type="file"  />
            <img src="" height="200" alt="Image preview...">
            <div>
            </div>
            <button ng-click="enviarImagen()">
                Enviar Imagen
            </button>
        
        <div style="display:block;"><h2>Canvas</h2></div>
        <canvas id="micanvas" width="150" height="150" style="display:block"></canvas>

        <canvas id="mipintado" width="150" height="150" style="display:block; border:10px #ccc solid;"></canvas>
        <img id="otraimg" src="" width="150" height="150" style="display:block; border:10px #ccc solid;" />
    </fieldset>

    <fieldset>
        <legend>Crear Libro</legend>
        Nombre <input type="text" id="nombre" /> <br />
        Apellido <input type="text" id="apellido" />
        <input type="button" value="Ingresar" id="buttonLibro2" />
        <br />
        <span id="resultlibro"></span>
    </fieldset>

    <fieldset>
        <legend>Crear Libro</legend>
        Nombre <input type="text" id="name" />
        <input type="button" value="Nombre 1" id="buttonLibro" />
        <br />
        <span id="resultlibro"></span>
    </fieldset>


    <fieldset>
        <legend>Demo 1</legend>
        <input type="button" value="Demo 1" id="buttonDemo1" />
        <br />
        <span id="result1"></span>
    </fieldset>

    <fieldset>
        <legend>Demo 2</legend>
        Full Name <input type="text" id="fullName" />
        <input type="button" value="Demo 2" id="buttonDemo2" />
        <br />
        <span id="result2"></span>
    </fieldset>

    <fieldset>
        <legend>Demo 3</legend>
        <input type="button" value="Demo 3" id="buttonDemo3" />
        <br />
        <span id="result3"></span>
    </fieldset>

    <fieldset>
        <legend>Demo 4</legend>
        <input type="button" value="Demo 4" id="buttonDemo4" />
        <br />
        <span id="result4"></span>
    </fieldset>


    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.3/angular-route.js"></script>
    <script type="text/javascript">
        // Creación del módulo
        var angularRoutingApp = angular.module('angularRoutingApp', []);

        var urlServicio = "http://www.programandoconrupert.com/ws/servicio-gatos.php";

        var RegistroImagen = {};

        angularRoutingApp.controller("mainController", ["$scope", "$http", function ($scope, $http) {
            $scope.gatos = [];
            
        
            $scope.enviarImagen = function () {
                //console.log(RegistroImagen.data);
                var cadena = RegistroImagen.data;
                //data = JSON.stringify(data);

                var data = cadena.substring(27, cadena.length -1);   
                //console.log(cadena);
                console.log(cadena.substring(0, 27));
                console.log(cadena.substring(27, cadena.length -1));
                //$http({
                //    method: "GET",
                //    url: '/demo/guardarImagen?data=' + data
                    
                //}).then(function correcto(respuesta) {
                //    //resultlibro3.innerHTML = respuesta.data;
                //},
                //    function error(respuesta) {
                //        alert(respuesta.statusText);
                //    });

                $http({
                        url: "localhost:44308/api/Values",
                        type: "POST",
                        data: JSON.stringify(data),
                        dataType: "json",
                        contentType: "application/json",
                        success: function (result) {
                            //var json = JSON.stringify(result)
                            //alert(json);
                            
                            var mipintado = document.getElementById("mipintado");
                            var nuevaimg = new Image();
                            nuevaimg.src = result;//json.data;//reader.result;//micanvas.toDataURL();
                            var ctx2 = mipintado.getContext("2d");
                            ctx2.drawImage(nuevaimg, 0, 0, 150, 150);

                            var otraimg = document.getElementById("otraimg");
                            otraimg.src = result;//reader.result;
                            //var id2 = new ImageData(150, 150);//{};//ctx2.getImageData(0, 0, 150, 150);
                            
                        },
                        error: function (request, status, error) {
                            alert("Error: Could not delete" + error);
                        }
                    });

                    //$.ajax({
                    //    url: "GuardarImagen.ashx",
                    //    type: "POST",
                    //    data: JSON.stringify(this.RegistroImagen.data),//JSON.stringify(RegistroImagen),
                    //    dataType: "json",
                    //    contentType: "application/json",
                    //    success: function (result) {
                    //        //var json = JSON.stringify(result)
                    //        //alert(json);
                            
                    //        var mipintado = document.getElementById("mipintado");
                    //        var nuevaimg = new Image();
                    //        nuevaimg.src = result;//json.data;//reader.result;//micanvas.toDataURL();
                    //        var ctx2 = mipintado.getContext("2d");
                    //        ctx2.drawImage(nuevaimg, 0, 0, 150, 150);

                    //        var otraimg = document.getElementById("otraimg");
                    //        otraimg.src = result;//reader.result;
                    //        //var id2 = new ImageData(150, 150);//{};//ctx2.getImageData(0, 0, 150, 150);
                            
                    //    },
                    //    error: function (request, status, error) {
                    //        alert("Error: Could not delete" + error);
                    //    }
                    //});

            };
            
            $scope.obtenerGet = function ()
            {
                //alert('Funciona');
                var nombre = document.getElementById('nombre1').value;
                var apellido = document.getElementById('apellido1').value;
                $http({
                    method: "GET",
                    url: '/demo/create2/' + nombre + '&' + apellido
                    //url: '/demo/demo1'
                }).then(function correcto(respuesta) {
                    //$scope.gatos = respuesta.data;
                    var resultlibro3 = document.getElementById('resultlibro3');
                    resultlibro3.innerHTML = respuesta.data;
                },
                    function error(respuesta) {
                        alert(respuesta.statusText);
                    });
            };
        }]);

        function previewFile()
        {
            var preview = document.querySelector('img');
            var file = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
                var micanvas = document.getElementById("micanvas");
                var ctx = micanvas.getContext("2d");
                var miimagen = new Image();
                miimagen.src = reader.result;
                //console.log(reader.result);
                RegistroImagen.data = reader.result;
                miimagen.onload = function()
                {
                    /*
                     ImageData.data Read only
                    Is a Uint8ClampedArray representing a one-dimensional array containing the data in the RGBA order, with integer values between 0 and 255 (inclusive).
                    ImageData.height Read only
                    Is an unsigned long representing the actual height, in pixels, of the ImageData.
                    ImageData.width Read only
                    Is an unsigned long representing the actual width, in pixels, of the ImageData.
                     */
                    //console.log(miimagen.decode());
                    ctx.drawImage(miimagen, 0, 0, 150, 150);
                    var ImageData = ctx.getImageData(0, 0, 150, 150);
                    //console.log(ImageData.data);
                    //console.log(micanvas.toDataURL());

                    //const img = new Image();
                    //img.src = 'nebula.jpg';
                    //img.decode();

                    
                    


                }

            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
            }



        document.getElementById('filename').addEventListener('change', previewFile, false);
    </script>
</body>
</html>

